
<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <h1>Create new account</h1><br>
      <form name="form" (ngSubmit)="register();" #registerForm="ngForm" novalidate>
        <div class="form-group" >
          <input name="username" placeholder="Username" class="form-control loginmodal-container-input"
                 [(ngModel)]="model.username" #name="ngModel" required pattern="[A-Za-z]{3,50}$"/>
          <div *ngIf="name.errors && name.dirty" class="alert alert-danger">
            Name must contain at least 3 to 50 letters</div>
        </div>
        <div class="form-group" >
          <input type="email" name="email" placeholder="E-mail" class="form-control loginmodal-container-input"
                 [(ngModel)]="model.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
          <div *ngIf="email.errors && email.dirty" class="alert alert-danger">
            Please enter a valid email address
          </div>
        </div>
        <div class="form-group" >
          <input type="password" name="password" placeholder="Password" class="form-control loginmodal-container-input"
                 [(ngModel)]="model.password" #password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
          <div *ngIf="password.errors && password.dirty" class="alert alert-danger">
            Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
          </div>
        </div>
        <div class="form-group" >
          <input type="password" name="confirmpassword" placeholder="Confirm password" class="form-control loginmodal-container-input"
                 [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required validateEqual="password" reverse="false" />
          <div *ngIf="confirmpassword.errors && confirmpassword.dirty" class="alert alert-danger">
            The password and confirmation password do not match</div>
        </div>
        <app-alert></app-alert>
        <input type="submit" [disabled]="!registerForm.form.valid" data-dismiss="modal" data-toggle="modal" data-target="#login-modal"
               name="login" class="login loginmodal-submit" value="Sign up">
        <div class="container-border">
          Already have an account?
          <a href="#"  data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Sign in</a>
        </div>
      </form>
    </div>
  </div>
</div>



