
<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <h1>Create new account</h1><br>
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !currentUserName.valid }">
          <input type="text" name="username" placeholder="Username" class="form-control"
                 [(ngModel)]="model.currentUserName" #name="ngModel" required />
          <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <input type="email" name="email" placeholder="E-mail" class="form-control"
                 [(ngModel)]="model.email" #email="ngModel" required />
          <div *ngIf="f.submitted && !email.valid" class="help-block">E-mail is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <input type="password" name="password" placeholder="Password" class="form-control"
                 [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }">
          <input type="password" name="confirmpassword" placeholder="Confirm password" class="form-control"
                 [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required />
          <div *ngIf="f.submitted && !confirmpassword.valid " class="help-block">The password and confirmation password do not match</div>
        </div>
        <input type="tel" [(ngModel)]="model.phonenumber" name="phone" placeholder="Phone number">
        <input type="submit" name="login" class="login loginmodal-submit" value="Sign up">
        <div class="container-border">
          Already have an account?
          <a href="#" routerLink="login" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Sign in</a>
        </div>
      </form>
    </div>
  </div>
</div>



