<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- City -->
            <div class="form-group">
              <label for="search-input-city">City</label>
              <input type="text" class="form-control" id="search-input-city" placeholder="Enter city">
            </div>
            <!-- district -->
            <div class="form-group">
              <label for="search-input-district">District</label>
              <input type="text" class="form-control" id="search-input-district"  placeholder="Enter District">
            </div>
            <!-- street -->
            <div class="form-group">
              <label for="search-input-street">Street</label>
              <input type="text" class="form-control" id="search-input-street" placeholder="Enter street">
            </div>
            <div class="row">
            <!-- Ordering type selestion-->
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Price
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Rating
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" id="option3" autocomplete="off"> Date
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">some data 2</div>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>
