<div class="container">
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">

      <!-- Search criteria -->
      <div class="col-md-6">
        <!-- City -->
        <div class="form-group">
          <label for="search-input-city">City</label>
          <input type="text" class="form-control" id="search-input-city" placeholder="Enter city" #inputCity (keyup)="this._apartmentService.city = inputCity.value" [value]="this._apartmentService.city">
        </div>
        <!-- district -->
        <div class="form-group">
          <label for="search-input-district">District</label>
          <input type="text" class="form-control" id="search-input-district" placeholder="Enter District" #inputDistrict (keyup)="this._apartmentService.district = inputDistrict.value" [value]="this._apartmentService.district">
        </div>
        <!-- street -->
        <div class="form-group">
          <label for="search-input-street">Street</label>
          <input type="text" class="form-control" id="search-input-street" placeholder="Enter street" #inputStreet (keyup)="this._apartmentService.street = inputStreet.value" [value]="this._apartmentService.street">
        </div>
        <div class="row text-center">
          <!-- Ordering type selestion-->
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-sm active" (click)="this._apartmentService.sortBy='price'">
              <input type="radio" name="options" id="option1" autocomplete="off" >Price
            </label>
            <label class="btn btn-sm btn-primary" (click)="this._apartmentService.sortBy='rating'">
              <input type="radio" name="options" id="option2" autocomplete="off" >Rating
            </label>
            <label class="btn btn-sm btn-primary" (click)="this._apartmentService.sortBy='postdate'">
              <input type="radio" name="options" id="option3" autocomplete="off">Date
            </label>
          </div>
        </div>
      </div>

      <!--List of tags-->
      <div class="col-md-6" style="padding-top: 20px">
        <div class="apartment-tag-list" *ngFor="let tag of this._apartmentService.tagList" style="display: inline-block; margin: 5px;">
          <button class="btn" style="border: 1px solid; max-width: 150px; padding: 5px;"
                  (click)="tag.isSelected=!tag.isSelected"
                  [ngClass]="tag.isSelected ? 'btn-primary':'btn-default'">
            <span class="glyphicon glyphicon" aria-hidden="true"
                  [ngClass]="tag.isSelected ? 'glyphicon-check':'glyphicon-unchecked'"></span>
            {{tag.tagname}}
          </button>
        </div>
      </div>
    </div>

    <!-- Search button -->
    <div class="row text-center" style="margin-top: 15px">
      <button class="btn btn-success" (click)="search()">Search</button>
    </div>
  </div>
</div>

<!-- Result display -->
<div class="row">
  <app-search-item *ngFor="let item of this._apartmentService.apartmentList" [apartment]="item"></app-search-item>
</div>

<!-- More Results button -->
<div class="row text-center" style="margin: 15px 0px 15px" *ngIf="!this._apartmentService.isLastPage">
  <button class="btn btn-success" (click)="more()">
    <span class="glyphicon glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </button>
</div>
</div>
